.infobar {
    background-color: $textecolor;

    .container {
        display: flex;
        justify-content: space-between;
        ul {
            display: flex;
            padding: 0;
            margin: 15px 0;
            li {
                list-style: none;
                margin: 0 10px;

                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
        @media (max-width: 576px) {
            .social {
                display: none;
            }
        }

        .contact {
            @media (max-width: 576px) {
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin: 5px auto;
            }

            li a i {
                margin-right: 5px;
            }
        }
    }
}

.navbar {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);

    .container {
        .zay a {
            color: $vert !important;
            font-weight: 700;
            font-size: 50px;
        }

        .navbar-toggler {
            border: none;
            color: $textecolor;

            &:focus {
                box-shadow: none;
            }
        }

        .menu {
            ul {
                display: flex;
                justify-content: space-between;
                width: 50%;
                margin: auto;

                li {
                    a {
                        color: $textecolor;
                        text-decoration: none;
                        transition: color 0.5s;
                        font-size: 20px;
                        @media (max-width: 992px) { 
                            text-align: center;
                        }
                    }
                    transition: 0.5s;
                    &:hover {
                        background-color: $vert;
                        box-shadow: 0px 0px 10px $vert;
                        a {
                            color: white;
                        }

                        @media (max-width: 992px) { 
                            background-color: #FFF;
                            box-shadow: none;
                            a{color: $textecolor}
                        }
                    }
                }

                .icon{
                    display: none;
                    @media (max-width: 992px) { 
                        display: flex;
                        justify-content: center;
                        li a i{
                            color: $vert;
                        }
                    }

                    ul{
                        @media (max-width: 992px) { 
                            padding: 0;
                            margin: 0;
                        }
                    }
                }
            }
        }

        .icon {
            @media (max-width: 992px) { 
                display: none;
            }
        }
    }
}

.icon ul {
    display: flex;
    margin: 0;
    li {
        margin: 0px 10px;
        list-style: none;
        a {
            color: $textecolor;
            text-decoration: none;

            &:hover {
                color: $vert;
            }
        }
    }
}