@import "./variables";
@import "./header";
@import "./shop";
@import './about';
@import './inscription';
@import './connexion';
@import './mdp';
@import 'paiement';
  
@import "./footer"; 

.fa-star {
    color: gray;
    cursor: pointer;
    padding: 0.0625rem;
}
/* Si elle porte en plus la classe '.gold', elle sera en jaune. */
.fa-star.gold {
    color: #FFDC0F;
}