@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.infobar {
  background-color: #263238;
}

.infobar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.infobar .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 15px 0;
}

.infobar .container ul li {
  list-style: none;
  margin: 0 10px;
}

.infobar .container ul li a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 576px) {
  .infobar .container .social {
    display: none;
  }
}

@media (max-width: 576px) {
  .infobar .container .contact {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 5px auto;
  }
}

.infobar .container .contact li a i {
  margin-right: 5px;
}

.navbar {
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.navbar .container .zay a {
  color: #5AAC6E !important;
  font-weight: 700;
  font-size: 50px;
}

.navbar .container .zay a:hover {
  text-decoration: none;
}

.navbar .container .navbar-toggler {
  border: none;
  color: #263238;
}

.navbar .container .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar .container .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  margin: auto;
}

.navbar .container .menu ul li {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar .container .menu ul li a {
  color: #263238;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  font-size: 20px;
}

@media (max-width: 992px) {
  .navbar .container .menu ul li a {
    text-align: center;
  }
}

.navbar .container .menu ul li:hover {
  background-color: #5AAC6E;
  -webkit-box-shadow: 0px 0px 10px #5AAC6E;
          box-shadow: 0px 0px 10px #5AAC6E;
}

.navbar .container .menu ul li:hover a {
  color: white;
}

@media (max-width: 992px) {
  .navbar .container .menu ul li:hover {
    background-color: #FFF;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar .container .menu ul li:hover a {
    color: #263238;
  }
}

.navbar .container .menu ul .icon {
  display: none;
}

@media (max-width: 992px) {
  .navbar .container .menu ul .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar .container .menu ul .icon li a i {
    color: #5AAC6E;
  }
}

@media (max-width: 992px) {
  .navbar .container .menu ul .icon ul {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 992px) {
  .navbar .container .icon {
    display: none;
  }
}

.icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.icon ul li {
  margin: 0px 10px;
  list-style: none;
}

.icon ul li a {
  color: #263238;
  text-decoration: none;
}

.icon ul li a:hover {
  color: #5AAC6E;
}

.center {
  text-align: center;
}

#index #slider .carousel-indicators button {
  background-color: #5aac6e;
}

#index #slider .carousel-inner .diapositive {
  width: 100%;
  height: 800px;
  background-color: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#index #slider .carousel-inner .diapositive .text {
  margin-left: 150px;
}

#index #slider .carousel-inner .diapositive h2 {
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
  margin: 0;
}

#index #slider .carousel-inner .diapositive h3 {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  margin: 0;
}

#index #slider .carousel-inner .diapositive p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: light;
}

#index #categorie {
  margin-top: 20px;
}

#index #categorie h2 {
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
}

#index #categorie p {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: light;
  width: 40%;
  margin: auto;
}

#index #categorie .categorie {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#index #categorie .categorie h3 {
  font-weight: bold;
}

#index #categorie .categorie button {
  background-color: #5aac6e;
  border-color: #5aac6e;
}

#index #featuredproduct {
  background-color: #e9eef4;
  margin-top: 50px;
}

#index #featuredproduct h2 {
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
  padding-top: 100px;
}

#index #featuredproduct p {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: light;
  margin: auto;
}

#index #featuredproduct .product {
  margin-top: 50px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#index #featuredproduct .product .card .card-img-top {
  height: 350px !important;
}

#index #featuredproduct .product .card .card-body .prix {
  text-align: right;
  color: #000000;
  opacity: 0.5;
  font-size: 20px;
}

#index #featuredproduct .product .card .card-body .card-title {
  font-size: 32px;
}

#index #featuredproduct .product .card .card-body .card-text {
  font-size: 20px;
}

#index #featuredproduct .product .card .card-body .reviews {
  color: #000000;
  opacity: 0.5;
  font-size: 17px;
  margin-top: 20px;
}

#singleproduct {
  background-color: #e9eef4;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 992px) {
  #singleproduct .container {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
  }
}

#singleproduct .single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#singleproduct .imageproduit .slide {
  margin-top: 20px;
}

#singleproduct .imageproduit .slide .fleche {
  color: #5AAC6E;
}

@media (max-width: 992px) {
  #singleproduct .imageproduit {
    padding-bottom: 50px;
  }
}

#singleproduct .informations {
  background-color: #fff;
}

#singleproduct .informations h2 {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
}

#singleproduct .informations .avis {
  font-family: "Roboto", sans-serif;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
}

#singleproduct .informations .avis p {
  font-size: 20px;
  margin-left: 10px;
}

#singleproduct .informations .bold {
  font-weight: bold;
}

#singleproduct .informations .description {
  margin-top: 10px;
}

#singleproduct .informations .formadd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#singleproduct .informations .formadd form .liste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#singleproduct .informations .formadd form .liste .quantitylabel {
  margin-right: 10px;
}

#singleproduct .informations .formadd form .liste .inputquantity {
  width: 50px;
  margin: 5px 10px 0px 10px;
  height: 25px;
}

#singleproduct .informations .formadd form .btn-taille {
  background-color: #5AAC6E;
  color: #fff;
}

#singleproduct .informations .formadd form .btn-plusminus {
  background-color: #5AAC6E;
  color: #fff;
}

#singleproduct .informations .formadd form .btn-check:active + .btn-taille,
#singleproduct .informations .formadd form .btn-check:checked + .btn-taille,
#singleproduct .informations .formadd form .btn-taille.active,
#singleproduct .informations .formadd form .btn-taille:active,
#singleproduct .informations .formadd form .show > .btn-taille.dropdown-toggle {
  background-color: #4e935f;
  -webkit-box-shadow: 0px 0px 5px inset black;
          box-shadow: 0px 0px 5px inset black;
  color: #fff;
}

#singleproduct .informations .formadd form .margin-form {
  margin: 20px 0px;
}

#singleproduct .informations .formadd form .btn-addbuy {
  width: 100%;
  background-color: #5AAC6E;
  color: #fff;
}

#avisproduit {
  background-color: #e9eef4;
  padding-bottom: 50px;
}

#avisproduit .container {
  padding: 0;
  background-color: white;
}

#avisproduit .container .ajouter {
  padding: 10px;
}

#avisproduit .container .ajouter .ajoutertitre {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  margin: 0;
}

#avisproduit .container .ajouter .hrvert {
  height: 5px;
  color: #5AAC6E;
  opacity: 1;
  margin-top: 0;
}

#avisproduit .container .ajouter form .commentaire {
  max-height: 160px;
  min-height: 110px;
}

#avisproduit .container .ajouter form :focus:not([tabindex^="-"]) {
  outline: 2px dotted #fff;
  outline-offset: 1px;
}

#avisproduit .container .ajouter form .form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #4e935f !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem #4e935f;
          box-shadow: 0 0 0 0.25rem #4e935f;
}

#avisproduit .container .ajouter form .avis {
  font-family: "Roboto", sans-serif;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

#avisproduit .container .ajouter form .avis li {
  text-align: center;
}

#avisproduit .container .ajouter form .avis p {
  font-size: 20px;
  margin: 0;
}

#avisproduit .container .ajouter form .avis .stars {
  margin-bottom: 10px;
}

#avisproduit .container .ajouter form .avis .btn-addbuy {
  width: 100%;
  background-color: #5AAC6E;
  color: #fff;
}

#avisproduit .container .ajouter form .avis #full-stars-example-two {
  /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
  /* make hover effect work properly in IE */
  /* hide radio inputs */
  /* hide 'none' input from screenreaders */
  /* set icon padding and size */
  /* set default star color */
  /* if any input is checked, make its following siblings grey */
  /* make all stars orange on rating group hover */
  /* make hovered input's following siblings grey on hover */
}

#avisproduit .container .ajouter form .avis #full-stars-example-two .rating-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#avisproduit .container .ajouter form .avis #full-stars-example-two .rating__icon {
  pointer-events: none;
}

#avisproduit .container .ajouter form .avis #full-stars-example-two .rating__input {
  position: absolute !important;
  left: -9999px !important;
}

#avisproduit .container .ajouter form .avis #full-stars-example-two .rating__input--none {
  display: none;
}

#avisproduit .container .ajouter form .avis #full-stars-example-two .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 1.7rem;
}

#avisproduit .container .ajouter form .avis #full-stars-example-two .rating__icon--star {
  color: #ffdc0f;
}

#avisproduit .container .ajouter form .avis #full-stars-example-two .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#avisproduit .container .ajouter form .avis #full-stars-example-two .rating-group:hover .rating__label .rating__icon--star {
  color: #ffdc0f;
}

#avisproduit .container .ajouter form .avis #full-stars-example-two .rating__input:hover ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#avisproduit .container .voircommentaire .accordion-item {
  border-radius: 0;
}

#avisproduit .container .voircommentaire .accordion-item .accordion-button {
  font-family: "Roboto", sans-serif;
  color: #5AAC6E;
}

#avisproduit .container .voircommentaire .accordion-item .accordion-button:focus {
  border-color: #5AAC6E;
  -webkit-box-shadow: 0 0 0 0.25rem #5AAC6E;
          box-shadow: 0 0 0 0.25rem #5AAC6E;
}

#avisproduit .container .voircommentaire .accordion-item .accordion-button:not(.collapsed) {
  background-color: white;
}

#avisproduit .container .voircommentaire .accordion-item .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%235AAC6E'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#slideproduct {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

#slideproduct p {
  margin: 0;
}

#slideproduct .uk-card-media-top img {
  height: 220px !important;
  width: 100% !important;
}

#slideproduct .avis {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  text-align: center;
}

#slideproduct .avis p {
  font-size: 20px;
  margin-left: 10px;
}

#map {
  text-align: center;
  background-color: #e9eef4;
}

#map h1 {
  padding-top: 50px;
  font-size: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

#map p {
  padding-bottom: 30px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

#formcontact .container {
  padding: 50px 0px;
}

#formcontact .container input {
  margin-bottom: 20px;
  margin-top: 5px;
  line-height: 30px;
}

#formcontact .container textarea {
  margin-top: 5px;
  min-height: 200px;
  max-height: 300px;
}

#formcontact .container .btn-addbuy {
  background-color: #5AAC6E;
  color: #fff;
  margin-top: 30px;
  margin-right: 0;
  display: block;
  margin-left: auto;
}

#formcontact .container :focus:not([tabindex^="-"]) {
  outline: 2px dotted #fff;
  outline-offset: 1px;
}

#formcontact .container .form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #4e935f !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem #4e935f;
          box-shadow: 0 0 0 0.25rem #4e935f;
}

#monpanier .container {
  text-align: center;
}

#monpanier .container h1 {
  text-align: center;
  padding-top: 50px;
  font-size: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

#monpanier .container .panier {
  border-color: #5AAC6E;
  border-width: 2px;
  opacity: 1;
  margin: 0;
  width: 10%;
  margin: auto;
}

#monpanier .container .produits {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

#monpanier .container .produits .image-produit {
  max-width: 100% !important;
}

#monpanier .container .produits .liste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#monpanier .container .produits .liste .card-title {
  text-align: left;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#monpanier .container .produits .liste .card-text {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#monpanier .container .produits .liste .quantitylabel {
  margin-right: 10px;
}

#monpanier .container .produits .liste .inputquantity {
  width: 50px;
  margin: 5px 10px 0px 10px;
  height: 25px;
}

#monpanier .container .produits .btn-plusminus {
  background-color: #5AAC6E;
  color: #fff;
}

#monpanier .container .total {
  margin: auto;
  margin-bottom: 50px;
}

#monpanier .container .total .totalhr {
  border-color: black;
  border-width: 5px;
  opacity: 1;
  margin: 0;
  width: 100%;
  margin: auto;
}

#monpanier .container .total .totaltext {
  text-align: left;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#monpanier .container .total .prixtext {
  text-align: right;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#monpanier .container .total .btn-addbuy {
  width: 30%;
  background-color: #5AAC6E;
  color: #fff;
}

#form-informations #forminfos .container {
  padding: 50px 0px;
}

#form-informations #forminfos .container h1 {
  font-size: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

#form-informations #forminfos .container .hr-infos {
  border-color: #5AAC6E;
  border-width: 2px;
  opacity: 1;
  margin-bottom: 30px;
  width: 30%;
}

#form-informations #forminfos .container input, #form-informations #forminfos .container select {
  margin-bottom: 20px;
  margin-top: 5px;
  line-height: 30px;
}

#form-informations #forminfos .container textarea {
  margin-top: 5px;
  min-height: 200px;
  max-height: 300px;
}

#form-informations #forminfos .container .btn-addbuyD {
  background-color: #5AAC6E;
  color: #fff;
  margin-top: 30px;
  margin-right: 0;
  display: block;
  margin-left: auto;
  text-decoration: none;
}

#form-informations #forminfos .container .btn-addbuyG {
  background-color: #5AAC6E;
  color: #fff;
  margin-top: 30px;
  margin-left: 0;
  display: block;
  margin-right: auto;
}

#form-informations #forminfos .container :focus:not([tabindex^="-"]) {
  outline: 2px dotted #fff;
  outline-offset: 1px;
}

#form-informations #forminfos .container .form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #4e935f !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem #4e935f;
          box-shadow: 0 0 0 0.25rem #4e935f;
}

#shop #recherche_produit {
  margin-top: 30px;
}

#shop #recherche_produit .recherche {
  margin-top: 30px;
  margin-bottom: 30px;
}

#shop #recherche_produit .recherche .uk-accordion-title::before {
  background-image: none;
  font-family: "FontAwesome";
  font-weight: 400;
  content: "\f13a";
}

#shop #recherche_produit .recherche .uk-open > .uk-accordion-title::before {
  font-family: "FontAwesome";
  content: "\f139";
}

#shop #recherche_produit .recherche ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style: none;
  margin: 0;
}

#shop #recherche_produit .recherche ul li {
  width: 100%;
  margin-bottom: 15px;
}

#shop #recherche_produit .recherche ul .prix {
  margin: 10px 0;
}

#shop #recherche_produit .recherche ul .prix .doubleRange {
  width: 90%;
  margin: 10px 0;
  padding-top: 13px;
}

#shop #recherche_produit .recherche ul .prix .doubleRange .barre {
  width: 100%;
  height: 6px;
  background-color: grey;
  border-radius: 3px;
  position: relative;
}

#shop #recherche_produit .recherche ul .prix .doubleRange .barre .barreMilieu {
  height: 6px;
  background-color: #5AAC6E;
  position: absolute;
}

#shop #recherche_produit .recherche ul .prix .doubleRange .barre .thumb {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 50%;
  top: -7px;
  position: absolute;
  cursor: pointer;
  -webkit-transform: translateX(-13px);
  transform: translateX(-13px);
}

#shop #recherche_produit .recherche ul .prix .doubleRange .label {
  margin-top: 15px;
  color: black;
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#shop #recherche_produit .recherche ul #genre {
  width: 90%;
}

#shop #recherche_produit .recherche ul #categorie {
  width: 90%;
}

#shop #recherche_produit .recherche .btn-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

#shop #recherche_produit .recherche .btn-submit input {
  background-color: #5AAC6E;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Roboto";
  padding: 5px 15px;
  -webkit-box-shadow: 1px 1px 5px 1px #5AAC6E;
          box-shadow: 1px 1px 5px 1px #5AAC6E;
}

#shop #recherche_produit .recherche .btn-submit input:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#shop #recherche_produit .affichage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 15px;
}

#shop #recherche_produit .affichage .card_container {
  width: 30%;
  -webkit-box-shadow: 1px 1px 5px 0px gray;
          box-shadow: 1px 1px 5px 0px gray;
  position: relative;
  margin-bottom: 20px;
}

@media screen and (max-width: 992px) {
  #shop #recherche_produit .affichage .card_container {
    width: 49%;
  }
}

@media screen and (max-width: 768px) {
  #shop #recherche_produit .affichage .card_container {
    height: 600px;
    width: 100%;
  }
}

#shop #recherche_produit .affichage .card_container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
}

#shop #recherche_produit .affichage .card_container .card .img-card-hover {
  position: relative;
  width: 100%;
}

#shop #recherche_produit .affichage .card_container .card .img-card-hover:hover .card_hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(99, 99, 99, 0.7);
  top: 0;
  -webkit-animation: card_hover 1s;
          animation: card_hover 1s;
}

@-webkit-keyframes card_hover {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

@keyframes card_hover {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

#shop #recherche_produit .affichage .card_container .card .img-card-hover .card-img-top {
  width: 100%;
  height: 250px;
}

#shop #recherche_produit .affichage .card_container .card .img-card-hover .card_hover {
  display: none;
}

#shop #recherche_produit .affichage .card_container .card .img-card-hover .card_hover .icon_hover {
  width: 50px;
  background-color: #5AAC6E;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  border-radius: 5px;
}

#shop #recherche_produit .affichage .card_container .card .img-card-hover .card_hover .icon_hover a {
  color: white;
  font-size: 25px;
  font-family: "Roboto";
}

#shop #recherche_produit .affichage .card_container .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#shop #recherche_produit .affichage .card_container .card .card-body .taille_produit {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

#shop #recherche_produit .affichage .card_container .card .card-body .taille_produit .une_taille_produit {
  font-family: "Roboto";
  font-size: 22px;
}

#shop #recherche_produit .affichage .card_container .card .card-body p {
  text-align: center;
  margin: 0;
  font-family: "Roboto";
  font-size: 22px;
}

#shop #recherche_produit .affichage .card_container .card .card-body .card-title {
  text-align: left;
  margin: 0;
  font-family: "Roboto";
  font-size: 22px;
}

#shop #recherche_produit .affichage .card_container .card .card-body .card-text {
  text-align: center;
  font-family: "Roboto";
  font-size: 22px;
}

#shop #recherche_produit .container_pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 992px) {
  #shop #recherche_produit .container_pagination {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#shop #recherche_produit .container_pagination .pagination {
  color: #5AAC6E;
  padding: 10px 20px;
  font-size: 20px;
  -webkit-box-shadow: 0 0 5px 0 gray;
          box-shadow: 0 0 5px 0 gray;
  margin: 2.5px;
}

#shop #recherche_produit .container_pagination .pagination a {
  text-decoration: none;
  font-family: "Roboto";
}

#shop #recherche_produit .container_pagination .pagination a:hover {
  text-decoration: none;
}

#shop #recherche_produit .container_pagination .active {
  background-color: #5AAC6E;
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#shop #ourbrands {
  background-color: #e9eef4;
  margin-top: 30px;
  padding-top: 40px;
}

#shop #ourbrands h2 {
  padding: 20px 0;
  text-align: center;
  font-weight: 200;
  font-size: 45px;
  font-family: "Roboto";
}

#shop #ourbrands .container-texte {
  width: 40%;
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
}

#shop #ourbrands .container-texte p {
  font-size: 20px;
  font-family: "Roboto";
}

#shop #ourbrands .container-slider {
  width: 55%;
  margin: auto;
  padding-bottom: 70px;
}

#shop #ourbrands .container-slider img {
  -webkit-filter: saturate(0%);
          filter: saturate(0%);
}

#about .about-us {
  background-color: #5AAC6E;
  padding: 50px 0;
}

#about .about-us h2 {
  color: white;
  font-weight: 600;
  font-size: 45px;
  font-family: "Roboto";
}

@media screen and (max-width: 768px) {
  #about .about-us h2 {
    font-size: 36px;
  }
}

@media screen and (max-width: 576px) {
  #about .about-us h2 {
    font-size: 24px;
    text-align: center;
  }
}

#about .about-us p {
  color: white;
  font-size: 20px;
  font-family: "Roboto";
}

@media screen and (max-width: 768px) {
  #about .about-us p {
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  #about .about-us p {
    font-size: 12px;
    text-align: center;
  }
}

#about .services {
  margin-top: 40px;
}

#about .services h2 {
  padding: 20px 0;
  text-align: center;
  font-weight: 200;
  font-size: 45px;
  font-family: "Roboto";
}

#about .services .texte-presentation {
  text-align: center;
  width: 60%;
  margin: auto;
}

#about .services p {
  text-align: center;
  font-size: 20px;
  font-family: "Roboto";
}

#about .services .card-services {
  -webkit-box-shadow: 0 3px 5px 0 gray;
          box-shadow: 0 3px 5px 0 gray;
  text-align: center;
  padding: 60px 20px;
  margin: 30px 0 60px 0;
}

#about .services .card-services i {
  color: #5AAC6E;
  font-size: 70px;
  margin-bottom: 15px;
}

#about .services .card-services p {
  font-weight: 600;
  font-size: 20px;
  font-family: "Roboto";
}

#about #ourbrands {
  background-color: #e9eef4;
  margin-top: 30px;
  padding-top: 40px;
}

#about #ourbrands h2 {
  padding: 20px 0;
  text-align: center;
  font-weight: 200;
  font-size: 45px;
  font-family: "Roboto";
}

#about #ourbrands .container-texte {
  width: 40%;
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
}

#about #ourbrands .container-texte p {
  font-size: 20px;
  font-family: "Roboto";
}

#about #ourbrands .container-slider {
  width: 55%;
  margin: auto;
  padding-bottom: 70px;
}

#about #ourbrands .container-slider img {
  -webkit-filter: saturate(0%);
          filter: saturate(0%);
}

#inscription {
  background-color: #5AAC6E;
  padding: 100px 0;
}

#inscription .container-form {
  margin: auto;
  padding: 15px;
  background-color: white;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  #inscription .container-form {
    width: 70%;
  }
}

@media screen and (max-width: 576px) {
  #inscription .container-form {
    width: 80%;
  }
}

#inscription .container-form h2 {
  color: #5AAC6E;
  font-family: 'Roboto';
  font-weight: 300;
  margin: 15px 0;
}

#inscription .container-form hr {
  width: 50%;
  background-color: black;
  height: 2px;
  margin: 0;
}

#inscription .container-form form {
  width: 80%;
}

#inscription .container-form form input {
  width: 100%;
}

#inscription .container-form form p {
  margin: 0;
  padding: 15px 0 5px 0;
  font-family: "Roboto";
  font-weight: 300;
}

#inscription .container-form form .container-valider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#inscription .container-form form .container-valider .valider {
  margin-top: 15px;
  width: 40%;
  background-color: #5AAC6E;
  color: white;
  border: none;
  padding: 10px 0;
  border-radius: 4px;
  font-family: "Roboto";
}

#inscription .container-form a {
  margin-top: 15px;
  text-decoration: underline;
  font-family: "Roboto";
  font-weight: 300;
  color: black;
}

#inscription .container-form a:hover {
  color: #5AAC6E;
  text-decoration: none;
}

#inscription .inscription-terminee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 40%;
  background-color: white;
  -webkit-box-shadow: 0 0 5px 0 green;
          box-shadow: 0 0 5px 0 green;
}

#inscription .inscription-terminee p {
  padding: 10px;
  margin: 0;
}

#inscription .inscription-erreur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 40%;
  background-color: white;
  -webkit-box-shadow: 0 0 5px 0 red;
          box-shadow: 0 0 5px 0 red;
}

#inscription .inscription-erreur p {
  padding: 10px;
  margin: 0;
}

#connexion .section-connexion {
  background-color: #5AAC6E;
  padding: 50px 0;
}

#connexion .section-connexion .container-form {
  background-color: white;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 5px 0 gray;
          box-shadow: 0 0 5px 0 gray;
}

#connexion .section-connexion .container-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: auto;
}

#connexion .section-connexion .container-form form h2 {
  color: #5AAC6E;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 45px;
}

#connexion .section-connexion .container-form form hr {
  width: 50%;
  background-color: black;
  height: 2px;
  margin: 0;
}

#connexion .section-connexion .container-form form .container_input {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

#connexion .section-connexion .container-form form .container_input label {
  font-family: "Roboto";
  font-weight: 300;
}

#connexion .section-connexion .container-form form .container_oublie {
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 80%;
}

#connexion .section-connexion .container-form form .container_oublie .oublie {
  color: #5AAC6E;
  text-decoration: underline;
  font-weight: 600;
  font-family: "Roboto";
}

#connexion .section-connexion .container-form form #submit {
  margin-top: 20px;
  background-color: #5AAC6E;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 10px;
  font-family: "Roboto";
  font-weight: 300;
}

#connexion .section-connexion .container-form form .inscription {
  padding-top: 10px;
  text-decoration: underline;
  color: black;
  font-family: "Roboto";
  font-weight: 300;
}

#connexion .section-connexion .container-form form .inscription:hover {
  color: #5AAC6E;
  text-decoration: none;
}

#connexion .section-connexion .container-form form .deconnexion {
  margin-top: 20px;
}

#connexion .section-connexion .container-form form .deconnexion a {
  background-color: #5AAC6E;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 10px;
  font-family: "Roboto";
  font-weight: 300;
}

#mdp section {
  background-color: #5AAC6E;
  padding: 50px 0;
}

#mdp section .container .row .container-form {
  padding: 15px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 5px 0 gray;
          box-shadow: 0 0 5px 0 gray;
}

#mdp section .container .row .container-form h2 {
  color: #5AAC6E;
  font-size: 45px;
  font-family: "Roboto";
  font-weight: 300;
  text-align: center;
}

#mdp section .container .row .container-form hr {
  width: 50%;
  background-color: black;
  height: 2px;
  margin: 0;
}

#mdp section .container .row .container-form form {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mdp section .container .row .container-form form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mdp section .container .row .container-form form div p {
  padding: 0;
  font-family: "Roboto";
  margin: 15px 0 0 0;
}

#mdp section .container .row .container-form form div input {
  border: solid 0.5px gray;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

#mdp section .container .row .container-form form input {
  background-color: #5AAC6E;
  color: white;
  font-family: "Roboto";
  font-weight: 300;
  margin: 15px 0;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
}

#mdp section .container .row .container-form .liens_connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 15px;
}

#mdp section .container .row .container-form .liens_connect a {
  text-decoration: underline;
  color: black;
  font-family: 'Roboto';
  font-weight: 300;
}

#mdp section .container .row .container-form .liens_connect a:hover {
  color: #5AAC6E;
  text-decoration: none;
}

#paiement section {
  margin: 40px 0;
}

#paiement section .container .row h2 {
  color: black;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 45px;
  text-align: center;
}

#paiement section .container .row hr {
  width: 35%;
  background-color: #5AAC6E;
  height: 4px;
  margin: 0;
  opacity: 100;
}

#paiement section .container .row .container_form form {
  font-family: "Roboto";
  margin-top: 15px;
}

#paiement section .container .row .container_form form .num_cb {
  width: 80%;
  margin: auto;
}

#paiement section .container .row .container_form form .num_cb p {
  margin: 0;
  padding-top: 15px;
}

#paiement section .container .row .container_form form .num_cb input {
  width: 100%;
}

#paiement section .container .row .container_form form .container_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: auto;
}

#paiement section .container .row .container_form form .container_2 .mois_annee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

#paiement section .container .row .container_form form .container_2 .mois_annee .mois p {
  margin: 0;
  padding-top: 15px;
}

#paiement section .container .row .container_form form .container_2 .mois_annee .annee p {
  margin: 0;
  padding-top: 15px;
}

#paiement section .container .row .container_form form .container_2 .code_verif p {
  margin: 0;
  padding-top: 15px;
}

#paiement section .container .row .container_form form .container_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#paiement section .container .row .container_form form .container_btn #btn_paiement {
  text-align: right;
  margin-top: 20px;
  background-color: #5AAC6E;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 10px;
  font-family: "Roboto";
  font-weight: 300;
}

#adminHead .navbar .container .menu ul li button,
#adminHead .navbar .container .menu ul li a {
  color: #263238;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  font-size: 20px;
  border: 0;
  background: 0;
}

#adminHead .navbar .container .menu ul li button:hover,
#adminHead .navbar .container .menu ul li a:hover {
  color: #fff;
}

@media (max-width: 992px) {
  #adminHead .navbar .container .menu ul li button:hover,
  #adminHead .navbar .container .menu ul li a:hover {
    color: #263238;
  }
}

#indexAdmin .alert, #categoriesAdmin .alert, #sizesAdmin .alert, #usersAdmin .alert, #contactAdmin .alert {
  margin-top: 15px;
}

#indexAdmin .table-list a.btn, #categoriesAdmin .table-list a.btn, #sizesAdmin .table-list a.btn, #usersAdmin .table-list a.btn, #contactAdmin .table-list a.btn {
  border-color: #5AAC6E;
  background-color: #5AAC6E;
  float: right;
  margin: 15px 0;
}

#indexAdmin .table-list a.btn:focus, #categoriesAdmin .table-list a.btn:focus, #sizesAdmin .table-list a.btn:focus, #usersAdmin .table-list a.btn:focus, #contactAdmin .table-list a.btn:focus {
  -webkit-box-shadow: 0px 6px 15px -5px #5AAC6E;
          box-shadow: 0px 6px 15px -5px #5AAC6E;
}

#contactAdmin .table-list {
  margin-top: 15px;
}

#contactAdmin .table-list .hidden {
  display: none;
}

#contactAdmin .table-list .contact-container {
  padding: .75rem;
}

#contactAdmin .table-list .contact-container p {
  margin: 0;
  color: #263238;
}

#contactAdmin .table-list .contact-container .contact-from, #contactAdmin .table-list .contact-container .contact-date {
  font-style: italic;
  font-size: 1rem;
}

#contactAdmin .table-list .contact-container .contact-subject {
  font-size: 1.5rem;
  font-weight: 600;
  margin: .75rem 0;
}

#contactAdmin .table-list .contact-container .contact-answer {
  float: right;
  padding: .375rem .75rem;
  margin: .75rem 0;
  background-color: #5AAC6E;
  border-color: #5AAC6E;
  border-radius: .25rem;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color .15s;
  transition: color .15s;
}

#contactAdmin .table-list .contact-container .contact-answer:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(90, 172, 110, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(90, 172, 110, 0.5);
}

#addProduct .back-button,
#editProduct .back-button,
#addCategory .back-button,
#editCategory .back-button,
#addSize .back-button,
#editSize .back-button,
#addUser .back-button,
#editUser .back-button {
  font-size: 13px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}

#addProduct form,
#editProduct form,
#addCategory form,
#editCategory form,
#addSize form,
#editSize form,
#addUser form,
#editUser form {
  margin-top: 5px;
}

#addProduct form .input-image,
#editProduct form .input-image,
#addCategory form .input-image,
#editCategory form .input-image,
#addSize form .input-image,
#editSize form .input-image,
#addUser form .input-image,
#editUser form .input-image {
  margin-top: 2rem;
}

#addProduct form .input-image .imgUp,
#editProduct form .input-image .imgUp,
#addCategory form .input-image .imgUp,
#editCategory form .input-image .imgUp,
#addSize form .input-image .imgUp,
#editSize form .input-image .imgUp,
#addUser form .input-image .imgUp,
#editUser form .input-image .imgUp {
  margin-bottom: 15px;
  position: relative;
}

#addProduct form .input-image .imgUp .imagePreview,
#editProduct form .input-image .imgUp .imagePreview,
#addCategory form .input-image .imgUp .imagePreview,
#editCategory form .input-image .imgUp .imagePreview,
#addSize form .input-image .imgUp .imagePreview,
#editSize form .input-image .imgUp .imagePreview,
#addUser form .input-image .imgUp .imagePreview,
#editUser form .input-image .imgUp .imagePreview {
  width: 100%;
  height: 180px;
  background-position: center center;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  -webkit-box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#addProduct form .input-image .imgUp .imagePreview label,
#editProduct form .input-image .imgUp .imagePreview label,
#addCategory form .input-image .imgUp .imagePreview label,
#editCategory form .input-image .imgUp .imagePreview label,
#addSize form .input-image .imgUp .imagePreview label,
#editSize form .input-image .imgUp .imagePreview label,
#addUser form .input-image .imgUp .imagePreview label,
#editUser form .input-image .imgUp .imagePreview label {
  color: #263238;
  font-size: .75rem;
  margin-left: .5rem;
}

#addProduct form .input-image .imgUp .imagePreview input,
#editProduct form .input-image .imgUp .imagePreview input,
#addCategory form .input-image .imgUp .imagePreview input,
#editCategory form .input-image .imgUp .imagePreview input,
#addSize form .input-image .imgUp .imagePreview input,
#editSize form .input-image .imgUp .imagePreview input,
#addUser form .input-image .imgUp .imagePreview input,
#editUser form .input-image .imgUp .imagePreview input {
  border-radius: 0;
  padding: 0.25rem;
  font-size: .75rem;
  border: 0;
  border-bottom: 1px solid #5AAC6E;
  background-color: rgba(255, 255, 255, 0.35);
  color: #263238;
}

#addProduct form .input-image .imgUp .imagePreview input:focus,
#editProduct form .input-image .imgUp .imagePreview input:focus,
#addCategory form .input-image .imgUp .imagePreview input:focus,
#editCategory form .input-image .imgUp .imagePreview input:focus,
#addSize form .input-image .imgUp .imagePreview input:focus,
#editSize form .input-image .imgUp .imagePreview input:focus,
#addUser form .input-image .imgUp .imagePreview input:focus,
#editUser form .input-image .imgUp .imagePreview input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#addProduct form .input-image .imgUp .imagePreview input:focus-visible,
#editProduct form .input-image .imgUp .imagePreview input:focus-visible,
#addCategory form .input-image .imgUp .imagePreview input:focus-visible,
#editCategory form .input-image .imgUp .imagePreview input:focus-visible,
#addSize form .input-image .imgUp .imagePreview input:focus-visible,
#editSize form .input-image .imgUp .imagePreview input:focus-visible,
#addUser form .input-image .imgUp .imagePreview input:focus-visible,
#editUser form .input-image .imgUp .imagePreview input:focus-visible {
  outline: none;
}

#addProduct form .input-image .imgUp .btn,
#editProduct form .input-image .imgUp .btn,
#addCategory form .input-image .imgUp .btn,
#editCategory form .input-image .imgUp .btn,
#addSize form .input-image .imgUp .btn,
#editSize form .input-image .imgUp .btn,
#addUser form .input-image .imgUp .btn,
#editUser form .input-image .imgUp .btn {
  display: block;
  border-radius: 0px;
  background-color: #5AAC6E;
  border-color: #5AAC6E;
  color: #fff;
  -webkit-box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.2);
}

#addProduct form .input-image .imgUp .del,
#editProduct form .input-image .imgUp .del,
#addCategory form .input-image .imgUp .del,
#editCategory form .input-image .imgUp .del,
#addSize form .input-image .imgUp .del,
#editSize form .input-image .imgUp .del,
#addUser form .input-image .imgUp .del,
#editUser form .input-image .imgUp .del {
  position: absolute;
  top: 0px;
  right: 15px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

#addProduct form .input-image .imgAdd,
#editProduct form .input-image .imgAdd,
#addCategory form .input-image .imgAdd,
#editCategory form .input-image .imgAdd,
#addSize form .input-image .imgAdd,
#editSize form .input-image .imgAdd,
#addUser form .input-image .imgAdd,
#editUser form .input-image .imgAdd {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #5AAC6E;
  color: #fff;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 30px;
  margin-top: 0px;
  cursor: pointer;
  font-size: 15px;
  padding: 0;
}

#addProduct form button,
#editProduct form button,
#addCategory form button,
#editCategory form button,
#addSize form button,
#editSize form button,
#addUser form button,
#editUser form button {
  float: right;
  color: #fff;
  background-color: #5AAC6E;
  border-color: #5AAC6E;
}

#addProduct form button:focus,
#editProduct form button:focus,
#addCategory form button:focus,
#editCategory form button:focus,
#addSize form button:focus,
#editSize form button:focus,
#addUser form button:focus,
#editUser form button:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(90, 172, 110, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(90, 172, 110, 0.5);
}

#addProduct form label[for=input-admin],
#editProduct form label[for=input-admin],
#addCategory form label[for=input-admin],
#editCategory form label[for=input-admin],
#addSize form label[for=input-admin],
#editSize form label[for=input-admin],
#addUser form label[for=input-admin],
#editUser form label[for=input-admin] {
  margin: 0 7px;
}

#editProduct .empty-page, #editCategory .empty-page,
#editSize .empty-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#editProduct .empty-page h2, #editCategory .empty-page h2,
#editSize .empty-page h2 {
  color: #5AAC6E;
}

#editProduct .alert, #editCategory .alert,
#editSize .alert {
  margin: 1rem 0;
}

#indexAdmin, #categoriesAdmin, #sizesAdmin, #usersAdmin, #contactAdmin,
#addProduct, #editProduct, #addCategory, #editCategory, #addSize,
#editSize, #addUser, #editUser {
  padding: 45px 0;
}

#indexAdmin h2, #categoriesAdmin h2, #sizesAdmin h2, #usersAdmin h2, #contactAdmin h2,
#addProduct h2, #editProduct h2, #addCategory h2, #editCategory h2, #addSize h2,
#editSize h2, #addUser h2, #editUser h2 {
  margin-bottom: 10px;
}

#indexAdmin hr, #categoriesAdmin hr, #sizesAdmin hr, #usersAdmin hr, #contactAdmin hr,
#addProduct hr, #editProduct hr, #addCategory hr, #editCategory hr, #addSize hr,
#editSize hr, #addUser hr, #editUser hr {
  border-color: #5AAC6E;
  border-width: 2px;
  opacity: 1;
  margin: 0;
}

footer {
  background-color: #212934;
  color: white;
  padding-top: 50px;
}

@media (max-width: 768px) {
  footer .containerfirstchild {
    padding: 0px 25px;
  }
}

@media (max-width: 768px) {
  footer .center-text {
    text-align: center;
  }
}

footer .logo {
  color: #5AAC6E;
  font-weight: 700;
  margin-top: 0px;
}

footer h2 {
  font-weight: 200;
  color: rgba(255, 255, 255, 0.85);
}

@media (max-width: 768px) {
  footer h2 {
    margin-top: 35px;
  }
}

footer ul {
  padding: 0;
  margin: 0;
}

footer ul li {
  list-style: none;
  margin: 10px 0;
  color: rgba(255, 255, 255, 0.85);
}

footer ul li a {
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
}

footer ul li i {
  margin-right: 5px;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  footer .social {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

footer .social li .iconflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 100%;
}

footer .social li .iconflex i {
  font-size: 25px;
  margin: 0;
}

@media (max-width: 992px) {
  footer .socialdiv {
    margin-top: 35px;
  }
}

@media (max-width: 576px) {
  footer .socialdiv {
    margin-top: 0;
  }
}

footer .socialcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .socialcontainer .subscribe {
  background-color: #5AAC6E;
  color: #ffffff;
}

@media (max-width: 992px) {
  footer .socialcontainer .subscribe {
    margin-top: 30px;
  }
}

footer .socialcontainer .inputmail {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.85);
}

footer .socialcontainer .inputmail::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.15);
}

footer .socialcontainer .inputmail:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.15);
}

footer .socialcontainer .inputmail::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.15);
}

footer .socialcontainer .inputmail::placeholder {
  color: rgba(255, 255, 255, 0.15);
}

@media (max-width: 992px) {
  footer .socialcontainer .inputmail {
    margin-top: 30px;
  }
}

footer .copyright {
  background-color: #1c252e;
  padding: 25px 0;
  margin-top: 15px;
}

footer .copyright p {
  margin: 0;
  color: rgba(255, 255, 255, 0.85);
}

@media (max-width: 992px) {
  footer .copyright p {
    text-align: center;
  }
}

footer .copyright p a {
  color: rgba(255, 255, 255, 0.85);
}

footer a:hover {
  color: #5AAC6E !important;
}

.stars {
  font-size: 20px;
  /* Si elle porte en plus la classe '.gold', elle sera en jaune. */
}

.stars .fa-star {
  color: #263238;
  cursor: pointer;
  padding: 0.0625rem;
}

.stars .fa-star.gold {
  color: #ffdc0f;
}
/*# sourceMappingURL=style.css.map */