@import "./variables";
@import "./header";
@import "./footer";
@import "./adminIndex";


.fa-star {
    color: gray;
    cursor: pointer;
    padding: 0.0625rem;
}
/* Si elle porte en plus la classe '.gold', elle sera en jaune. */
.fa-star.gold {
    color: #FFDC0F;
}