@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap");
.infobar {
  background-color: #263238;
}

.infobar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.infobar .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 15px 0;
}

.infobar .container ul li {
  list-style: none;
  margin: 0 10px;
}

.infobar .container ul li a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 576px) {
  .infobar .container .social {
    display: none;
  }
}

@media (max-width: 576px) {
  .infobar .container .contact {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 5px auto;
  }
}

.infobar .container .contact li a i {
  margin-right: 5px;
}

.navbar {
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.navbar .container .zay a {
  color: #5AAC6E !important;
  font-weight: 700;
  font-size: 50px;
}

.navbar .container .navbar-toggler {
  border: none;
  color: #263238;
}

.navbar .container .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar .container .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  margin: auto;
}

.navbar .container .menu ul li {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar .container .menu ul li a {
  color: #263238;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  font-size: 20px;
}

@media (max-width: 992px) {
  .navbar .container .menu ul li a {
    text-align: center;
  }
}

.navbar .container .menu ul li:hover {
  background-color: #5AAC6E;
  -webkit-box-shadow: 0px 0px 10px #5AAC6E;
          box-shadow: 0px 0px 10px #5AAC6E;
}

.navbar .container .menu ul li:hover a {
  color: white;
}

@media (max-width: 992px) {
  .navbar .container .menu ul li:hover {
    background-color: #FFF;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar .container .menu ul li:hover a {
    color: #263238;
  }
}

.navbar .container .menu ul .icon {
  display: none;
}

@media (max-width: 992px) {
  .navbar .container .menu ul .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar .container .menu ul .icon li a i {
    color: #5AAC6E;
  }
}

@media (max-width: 992px) {
  .navbar .container .menu ul .icon ul {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 992px) {
  .navbar .container .icon {
    display: none;
  }
}

.icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.icon ul li {
  margin: 0px 10px;
  list-style: none;
}

.icon ul li a {
  color: #263238;
  text-decoration: none;
}

.icon ul li a:hover {
  color: #5AAC6E;
}

.center {
  text-align: center;
}

#index #slider .carousel-indicators button {
  background-color: #5aac6e;
}

#index #slider .carousel-inner .diapositive {
  width: 100%;
  height: 800px;
  background-color: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#index #slider .carousel-inner .diapositive .text {
  margin-left: 150px;
}

#index #slider .carousel-inner .diapositive h2 {
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
  margin: 0;
}

#index #slider .carousel-inner .diapositive h3 {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  margin: 0;
}

#index #slider .carousel-inner .diapositive p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: light;
}

#index #categorie {
  margin-top: 20px;
}

#index #categorie h2 {
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
}

#index #categorie p {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: light;
  width: 40%;
  margin: auto;
}

#index #categorie .categorie {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#index #categorie .categorie h3 {
  font-weight: bold;
}

#index #categorie .categorie button {
  background-color: #5aac6e;
  border-color: #5aac6e;
}

#index #featuredproduct {
  background-color: #e9eef4;
  margin-top: 50px;
}

#index #featuredproduct h2 {
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
  padding-top: 100px;
}

#index #featuredproduct p {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: light;
  margin: auto;
}

#index #featuredproduct .product {
  margin-top: 50px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#index #featuredproduct .product .card .card-img-top {
  height: 350px !important;
}

#index #featuredproduct .product .card .card-body .prix {
  text-align: right;
  color: #000000;
  opacity: 0.5;
  font-size: 20px;
}

#index #featuredproduct .product .card .card-body .card-title {
  font-size: 32px;
}

#index #featuredproduct .product .card .card-body .card-text {
  font-size: 20px;
}

#index #featuredproduct .product .card .card-body .reviews {
  color: #000000;
  opacity: 0.5;
  font-size: 17px;
  margin-top: 20px;
}

#singleproduct {
  background-color: #e9eef4;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 992px) {
  #singleproduct .container {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
  }
}

#singleproduct .single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#singleproduct .imageproduit .slide {
  margin-top: 20px;
}

#singleproduct .imageproduit .slide .fleche {
  color: #5AAC6E;
}

@media (max-width: 992px) {
  #singleproduct .imageproduit {
    padding-bottom: 50px;
  }
}

#singleproduct .informations {
  background-color: #fff;
}

#singleproduct .informations h2 {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
}

#singleproduct .informations .avis {
  font-family: "Roboto", sans-serif;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
}

#singleproduct .informations .avis p {
  font-size: 20px;
  margin-left: 10px;
}

#singleproduct .informations .bold {
  font-weight: bold;
}

#singleproduct .informations .description {
  margin-top: 10px;
}

#singleproduct .informations .formadd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#singleproduct .informations .formadd form .liste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#singleproduct .informations .formadd form .liste .quantitylabel {
  margin-right: 10px;
}

#singleproduct .informations .formadd form .liste .inputquantity {
  width: 40px;
  margin: 5px 10px 0px 10px;
  height: 25px;
}

#singleproduct .informations .formadd form .btn-taille {
  background-color: #5AAC6E;
  color: #fff;
}

#singleproduct .informations .formadd form .btn-plusminus {
  background-color: #5AAC6E;
  color: #fff;
}

#singleproduct .informations .formadd form .btn-check:active + .btn-taille,
#singleproduct .informations .formadd form .btn-check:checked + .btn-taille,
#singleproduct .informations .formadd form .btn-taille.active,
#singleproduct .informations .formadd form .btn-taille:active,
#singleproduct .informations .formadd form .show > .btn-taille.dropdown-toggle {
  background-color: #4e935f;
  -webkit-box-shadow: 0px 0px 5px inset black;
          box-shadow: 0px 0px 5px inset black;
  color: #fff;
}

#singleproduct .informations .formadd form .margin-form {
  margin: 20px 0px;
}

#singleproduct .informations .formadd form .btn-addbuy {
  width: 100%;
  background-color: #5AAC6E;
  color: #fff;
}

#avisproduit {
  background-color: #e9eef4;
  padding-bottom: 50px;
}

#avisproduit .container {
  padding: 0;
  background-color: white;
}

#avisproduit .container .ajouter {
  padding: 10px;
}

#avisproduit .container .ajouter .ajoutertitre {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  margin: 0;
}

#avisproduit .container .ajouter .hrvert {
  height: 5px;
  color: #5AAC6E;
  opacity: 1;
  margin-top: 0;
}

#avisproduit .container .ajouter form .commentaire {
  max-height: 160px;
  min-height: 110px;
}

#avisproduit .container .ajouter form :focus:not([tabindex^="-"]) {
  outline: 2px dotted #fff;
  outline-offset: 1px;
}

#avisproduit .container .ajouter form .form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #4e935f !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem #4e935f;
          box-shadow: 0 0 0 0.25rem #4e935f;
}

#avisproduit .container .ajouter form .avis {
  font-family: "Roboto", sans-serif;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

#avisproduit .container .ajouter form .avis li {
  text-align: center;
}

#avisproduit .container .ajouter form .avis p {
  font-size: 20px;
  margin: 0;
}

#avisproduit .container .ajouter form .avis .stars {
  margin-bottom: 10px;
}

#avisproduit .container .ajouter form .avis .btn-addbuy {
  width: 100%;
  background-color: #5AAC6E;
  color: #fff;
}

#avisproduit .container .ajouter form .avis #full-stars-example-two {
  /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
  /* make hover effect work properly in IE */
  /* hide radio inputs */
  /* hide 'none' input from screenreaders */
  /* set icon padding and size */
  /* set default star color */
  /* if any input is checked, make its following siblings grey */
  /* make all stars orange on rating group hover */
  /* make hovered input's following siblings grey on hover */
}

#avisproduit .container .ajouter form .avis #full-stars-example-two .rating-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#avisproduit .container .ajouter form .avis #full-stars-example-two .rating__icon {
  pointer-events: none;
}

#avisproduit .container .ajouter form .avis #full-stars-example-two .rating__input {
  position: absolute !important;
  left: -9999px !important;
}

#avisproduit .container .ajouter form .avis #full-stars-example-two .rating__input--none {
  display: none;
}

#avisproduit .container .ajouter form .avis #full-stars-example-two .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 1.7rem;
}

#avisproduit .container .ajouter form .avis #full-stars-example-two .rating__icon--star {
  color: #ffdc0f;
}

#avisproduit .container .ajouter form .avis #full-stars-example-two .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#avisproduit .container .ajouter form .avis #full-stars-example-two .rating-group:hover .rating__label .rating__icon--star {
  color: #ffdc0f;
}

#avisproduit .container .ajouter form .avis #full-stars-example-two .rating__input:hover ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#avisproduit .container .voircommentaire .accordion-item {
  border-radius: 0;
}

#avisproduit .container .voircommentaire .accordion-item .accordion-button {
  font-family: "Roboto", sans-serif;
  color: #5AAC6E;
}

#avisproduit .container .voircommentaire .accordion-item .accordion-button:focus {
  border-color: #5AAC6E;
  -webkit-box-shadow: 0 0 0 0.25rem #5AAC6E;
          box-shadow: 0 0 0 0.25rem #5AAC6E;
}

#avisproduit .container .voircommentaire .accordion-item .accordion-button:not(.collapsed) {
  background-color: white;
}

#avisproduit .container .voircommentaire .accordion-item .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%235AAC6E'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#slideproduct {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

#slideproduct p {
  margin: 0;
}

#slideproduct .uk-card-media-top img {
  height: 220px !important;
  width: 100% !important;
}

#slideproduct .avis {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  text-align: center;
}

#slideproduct .avis p {
  font-size: 20px;
  margin-left: 10px;
}

#map {
  text-align: center;
  background-color: #e9eef4;
}

#map h1 {
  padding-top: 50px;
  font-size: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

#map p {
  padding-bottom: 30px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

#formcontact .container {
  padding: 50px 0px;
}

#formcontact .container input {
  margin-bottom: 20px;
  margin-top: 5px;
  line-height: 30px;
}

#formcontact .container textarea {
  margin-top: 5px;
  min-height: 200px;
  max-height: 300px;
}

#formcontact .container .btn-addbuy {
  background-color: #5AAC6E;
  color: #fff;
  margin-top: 30px;
  margin-right: 0;
  display: block;
  margin-left: auto;
}

#formcontact .container :focus:not([tabindex^="-"]) {
  outline: 2px dotted #fff;
  outline-offset: 1px;
}

#formcontact .container .form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #4e935f !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem #4e935f;
          box-shadow: 0 0 0 0.25rem #4e935f;
}

footer {
  background-color: #212934;
  color: white;
  padding-top: 50px;
}

@media (max-width: 768px) {
  footer .containerfirstchild {
    padding: 0px 25px;
  }
}

@media (max-width: 768px) {
  footer .center-text {
    text-align: center;
  }
}

footer .logo {
  color: #5AAC6E;
  font-weight: 700;
  margin-top: 0px;
}

footer h2 {
  font-weight: 200;
  color: rgba(255, 255, 255, 0.85);
}

@media (max-width: 768px) {
  footer h2 {
    margin-top: 35px;
  }
}

footer ul {
  padding: 0;
  margin: 0;
}

footer ul li {
  list-style: none;
  margin: 10px 0;
  color: rgba(255, 255, 255, 0.85);
}

footer ul li a {
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
}

footer ul li i {
  margin-right: 5px;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  footer .social {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

footer .social li .iconflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 100%;
}

footer .social li .iconflex i {
  font-size: 25px;
  margin: 0;
}

@media (max-width: 992px) {
  footer .socialdiv {
    margin-top: 35px;
  }
}

@media (max-width: 576px) {
  footer .socialdiv {
    margin-top: 0;
  }
}

footer .socialcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .socialcontainer .subscribe {
  background-color: #5AAC6E;
  color: #ffffff;
}

@media (max-width: 992px) {
  footer .socialcontainer .subscribe {
    margin-top: 30px;
  }
}

footer .socialcontainer .inputmail {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.85);
}

footer .socialcontainer .inputmail::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.15);
}

footer .socialcontainer .inputmail:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.15);
}

footer .socialcontainer .inputmail::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.15);
}

footer .socialcontainer .inputmail::placeholder {
  color: rgba(255, 255, 255, 0.15);
}

@media (max-width: 992px) {
  footer .socialcontainer .inputmail {
    margin-top: 30px;
  }
}

footer .copyright {
  background-color: #1c252e;
  padding: 25px 0;
  margin-top: 15px;
}

footer .copyright p {
  margin: 0;
  color: rgba(255, 255, 255, 0.85);
}

@media (max-width: 992px) {
  footer .copyright p {
    text-align: center;
  }
}

footer .copyright p a {
  color: rgba(255, 255, 255, 0.85);
}

footer a:hover {
  color: #5AAC6E !important;
}

.stars {
  font-size: 20px;
  /* Si elle porte en plus la classe '.gold', elle sera en jaune. */
}

.stars .fa-star {
  color: #263238;
  cursor: pointer;
  padding: 0.0625rem;
}

.stars .fa-star.gold {
  color: #ffdc0f;
}
/*# sourceMappingURL=style.css.map */